<!-- Intro -->
	
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="intro_title text-center">We have the best tours</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="intro_text text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec. </p>
                </div>
            </div>
        </div>
        <div class="row intro_items">

            <!-- Intro Item -->
            <div class="col-lg-4 intro_col" *ngFor="let tour of tours | slice:0:3;">
                <div class="intro_item">
                    <div class="intro_item_overlay"></div>
                    <!-- Image by https://unsplash.com/@dnevozhai -->
                    
                    <div  class="intro_item_background"  [style.background]="'url(' +tour.image + ')'" ></div>
                    <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                        <div class="intro_date">{{tour.datestart |  date }} - {{tour.dateend |  date }}</div>
                        <div class="button intro_button"><div class="button_bcg"></div><a href="#">see more<span></span><span></span><span></span></a></div>
                        <div class="intro_center text-center">
                            <h1>{{tour.title}}</h1>
                            <div class="intro_price">From {{tour.price}}</div>
                            <div class="rating rating_{{tour.rate}}">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Intro Item -->
        </div>
    </div>
</div>